body{background-color: black;}
.wrapper {background-color: #03050A;}
#banner-top {background-image: url('../img/stars_bg.png');}
#logo-top {    display:block; margin:auto;}
/* NAVBAR STYLING */
.navbar, .dropdown-menu {border-radius: 0px; background-color: #182736;}
.navbar li a {border-right: 1px solid black; color:#4A913C;}
#play-btn {background-color: red;}
/*#left-column, #right-column {background-clip:content-box; background-color: #0D121C}*/
/* CONTENT STYLING */
.panel-body {background:#0D121C; border-bottom: 2px solid #02997B;border-left: 2px solid #02997B;border-right: 2px solid #02997B; padding: 5px;}
.panel-body h3 {margin-top: 5px;}
.twitter-panel {padding:0px;}
.panel > .panel-heading {
    background-image: none;
    background-color: #02997B;
    color: white;
}
hr { border-top: 1px solid #02997B;}
.navbar .nav > li > a{
  background-repeat: no-repeat;color: #4A913C;}
/* NEWS STYLING */
.media-object {border: 1px solid #4A913C;}
.media-heading {color: #058FFF;}
article>p {color: white;}
/* DEVELOPMENT STYLING */
#version {text-align: center; text-decoration: underline;}
#changelog-content {background-color: #F7F7F7;}
#changelog-content ul {list-style-type: none;}
/* SIDEBAR STYLING */
.subscribe-panel p {color: white;}
.img-thumbnail {margin: 0 auto; width: 100px;}
/* FOOTER STYLING */
footer{background-image: url('../img/bckg2.png')}
#footer-left{float:left; width: 200px;text-align: center;}
#footer-right{float:right;width: 200px;text-align: center;}
#footer-center{margin:0 auto;width: 150px;text-align: center;}
footer ul {list-style-type: none;
    margin:0;
    padding:0;}
footer a {color:  #4A913C;}
footer h4 {color: #058FFF;}

